.ant-targets-build.xml
.classpath
.externalToolBuilders/
.project
**/target
**/classpath
jars
.idea
**.DS_Store
BootLockMinion.log
ClasspathDumper.java
SimpleApp.java
UUIDMaker.java
changenumber.properties
classes.storeless/
classes/
conglomerateNextID
derby.log
derbyDB/
fail/
generated/
jars/
jarsHolistic.tgz
junit_*
libs/
logs/
notes.txt
system/
**.swp
doneTests
misc
tmp
wombat
maven2/engine/compile.lx
maven2/engine/runtime.lx
maven2/engine/test.lx
maven2
tools/ant/properties/extrapath.properties
tools/ant/properties/release.properties
local.properties
